@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue-grey);
$app-accent:  mat-palette($mat-amber, A200, A100, A400);
$app-warn:    mat-palette($mat-deep-orange);

$dark-theme:   mat-dark-theme($app-primary, $app-accent, $app-warn);
