@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin custom-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin custom-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}