@import '~@angular/material/theming';
$primary-bluegray: mat-palette($mat-blue-grey);
$blue-grey: mat-color($primary-bluegray);
$primary-indigo: mat-palette($mat-indigo);
$indigo: mat-color($primary-indigo);
$dark-background : #2A3A59;