@import 'themes/dark-theme.scss';
@import 'themes/light-theme.scss';
@import 'mixins';
@import 'variables';

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    //background-image: url('../assets/universo.jpg');
    background-size: cover;
}

@include angular-material-theme($candy-app-theme);

.light-custom-theme{
    @include angular-material-theme($candy-app-theme);
}

.dark-custom-theme{
    @include angular-material-theme($dark-theme);
}
