<mat-toolbar class="elevation" color="primary">
    <div class="div-links">
        <button mat-button class="btn-link" routerLink="">
            <div>
                <mat-icon>home</mat-icon>
                Inicio
            </div>
        </button>
        <button mat-button class="btn-link" routerLink="vocabulario/palabras">
            <div>
                Palabras
            </div>
        </button>
    </div>
    <div class="div-config">
        <button mat-icon-button [matMenuTriggerFor]="menu" color="accent">
            <mat-icon>color_lens</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeTheme('dark-custom-theme')">
                <mat-icon class="theme-blue-grey">brightness_1</mat-icon>
                <mat-icon class="theme-blue-grey-k">brightness_1</mat-icon>
            </button>
            <button mat-menu-item (click)="changeTheme('light-custom-theme')">
                <mat-icon class="theme-indigo">brightness_1</mat-icon>
                <mat-icon class="light-custom-theme-color">brightness_1</mat-icon>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>