@import '../../../sass/mixins';
@import '../../../sass/variables';

mat-toolbar {
    @include flex-space-between;
    @include mat-elevation(2);
    top: 0;
    z-index: 1;   
}

.btn-link {
    font-size: large;
    div {
        @include flex-space-between;
    }
}

mat-icon {
    font-size: x-large;
    padding-right: 5px;
}

.div-links {
    @include custom-flex-start;
    height: 100%;
    width: 100%;
}

.div-config {
    @include custom-flex-end;
    height: 100%;
    width: 100%;
    button {
        mat-icon {
            font-size: xx-large;
        }
    }
}

.mat-menu-item {
    @include flex-center;
}

.mat-menu-item .mat-icon {
    margin-right: 0px;
    vertical-align: middle;
}

.theme-blue-grey { 
    color: $blue-grey !important;
}
.theme-blue-grey-k { 
    color: $dark-background !important;
}

.theme-indigo {
    color: $indigo !important;
}

.light-custom-theme-color {
    color: white !important;
}