<mat-nav-list>
    <ng-container *ngFor="let palabra of palabras$ | async">
        <a mat-list-item>
            <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                alt="Photo of a Shiba Inu">
            <h2 matLine> {{palabra.espanol}} </h2>
            <p matLine>
                <span> {{palabra.ingles}} </span>
                <span class="demo-2"> -- {{palabra.fecha | date: 'dd/MM/yyyy h:mm a'}} </span>
            </p>
            <p matLine>
                <span>{{palabra.categoriaDto.nombreCategoria}}</span>
            </p>
        </a>
    </ng-container>
</mat-nav-list>
<footer>
    <button mat-fab color="accent" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</footer>