<mat-card-header>
    <mat-card-title>Palabras</mat-card-title>
    <button mat-button color="accent">Accent</button>
</mat-card-header>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="palabraForm">
        <ng-template matStepLabel>Palabra</ng-template>
        <form [formGroup]="palabraForm">
            <mat-form-field appearance="outline">
                <mat-label>Palabra en español</mat-label>
                <input matInput placeholder="Español" formControlName="espanol">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Palabra en inglés</mat-label>
                <input matInput placeholder="Inglés" formControlName="ingles">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Significado</mat-label>
                <input matInput placeholder="Significado" formControlName="significado">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Descripción" formControlName="descripcion">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="idCategoria">
                    <mat-option *ngFor="let categoria of data | async" [value]="categoria.idCategoria">
                        {{categoria.nombreCategoria}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-step>
    <mat-step [stepControl]="categoriaForm">
        <ng-template matStepLabel>Categoria</ng-template>
        <section>
            <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" (change)="catDisable($event)">
                Agregar
            </mat-slide-toggle>
        </section>
        <form [formGroup]="categoriaForm">
            <mat-form-field appearance="outline">
                <mat-label>Categoria</mat-label>
                <input matInput placeholder="Categoria" formControlName="categoria">
            </mat-form-field>
        </form>
    </mat-step>
</mat-horizontal-stepper>
<mat-card-actions>
    <button mat-button (click)="close(true)">Guardar</button>
    <button mat-button (click)="close(false)">Salir</button>
</mat-card-actions>