@import '../../../sass/mixins';
@import '../../../sass/variables';

main {
    font-weight: bold;
    text-align: center;
    @include flex-center;
}
h1 {
    font-size: 60px;
    line-height: 64px;
    text-shadow: 2px 2px 2px;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
    width: 80%;
}