@import '../../../sass/mixins';
@import '../../../sass/variables';

footer {
    @include flex-center;
    //position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    div {
        width: 95%;
    }
    position: fixed;
    bottom: 0;
}